<%- include("head.ejs"); %>

<body class="page-body">
    <%- include("navbar.ejs"); %>

    <div class="floating-form">
        <input class="back-button" type="button" onclick="history.back()" />

        <h1 class="form-title">Diagramas</h1>

        <div class="table-responsive-lg matrix-table">
            <h3 class="diagram-title">Diagrama de métodos</h3>
            <p class="form-description">Diagrama de métodos</p>
            <table class="table table-striped table-lg diagram-table">

            </table>
        </div>
    </div>
</body>
