<!-- 
  backend requirements: 
      - id_user: user id on database
-->


<%- include("head.ejs"); %>

<body class="page-body">
    <%- include("navbar.ejs"); %>

    <div class="floating-form center-items">
        <a class="no-decoration-link" href="/modulo1/<%= id_user %> ">
            <div class="big-button">Modulo 1</div>
        </a>
        <a class="no-decoration-link" href="/modulo2/<%= id_user %> ">
            <div class="big-button">Modulo 2</div>
        </a>
    </div>
</body>
