<%- include('head'); %>

  <body>
    <form action="/" method="post" class="loginform">
      <h1>Entre</h1>
      <!-- Username input -->
      <div class="form-outline mb-4">
        <input type="text" id="form2Example1" class="form-control" name="username" value="<%=user.username %>" />
        <label class="form-label" for="form2Example1">Usuário</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" name="password" value="<%=user.password %>" />
        <label class="form-label" for="form2Example2">Senha</label>
      </div>


      <!-- Submit button -->
      <input type="submit" class="btn btn-primary btn-block mb-4" name="submit" value="Log In" />

      <!-- Register buttons -->
      <div class="text-center">
        <p>Ainda não possui uma conta? <a href="/signin">Cadastre-se</a></p>
      </div>
    </form>
  </body>