<%- include("head.ejs"); %>

    <body>
        <%- include("navbar.ejs"); %>

        <div class="module-box module-1">
            <a href="/home/<%= id_user %> ">Modulo 1</a>
        </div>
        <div class="module-box module-2">
            <a href="/modulo2/<%= id_user %> ">Modulo 2</a>
        </div>
    </body>