<%- include("head.ejs"); %>

<body>
    <%- include("navbar.ejs"); %>

    <div class="req_table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Requisito Funcional</th>
                    <th scope="col">Caso de uso</th>
                    <th scope="col">Entidade MER</th>
                    <th scope="col">Atributos Entidades</th>
                    <th scope="col">Condições</th>
                    <th scope="col">CRUD</th>
                    <th scope="col">get/set</th>
                    <th scope="col">SQL</th>
                    <th scope="col">Assoc. Classes</th>
                    <th scope="col">Estrutura dados</th>
                </tr>
            </thead>
            <tbody>
                <!-- AJUSTAR TABELA PARA QUANDO BACK TIVER PRONTO -->
                <% //for (const item of data){ %>
                <!-- <tr>
                    <td>item.requisito</td>
                    <td>item.caso_uso</td>
                    <td>item.ent_mer</td>
                    <td>item.atrib_ent</td>
                    <td>item.cond</td>
                    <td>item.crud</td>
                    <td>item.getset</td>
                    <td>item.sql</td>
                    <td>item.assoc_classes</td>
                    <td>item.estr_dados</td>
                </tr> -->
                <% // } %> 
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-primary" onclick="history.back()">Votlar</button>
</body>
