body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.loginform{
    width: 300px;
    height: fit-content;
        
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.navbar{
    width: 100%;
}

.req_table{
    width: 80%;
}