body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.loginform{
    width: 300px;
    height: fit-content;
        
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.navbar{
    width: 100%;
}

.req_table{
    width: 80%;
}

.descritivo{
    width: 60%;
    word-wrap: break-word;
}

.module-box{
    display: table;
    margin: 20px;
    width: 30%;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    background-color: #DDDDDDDD;
}

.module-box a{
    display: table-cell;
    font-size: 32px;
    vertical-align: middle;
    text-decoration: none;
}